
<div class="container mt-5">
    <h2>Plantas</h2>
    <a href="{% url 'create_planta' %}" class="btn btn-primary">Adicionar Planta</a>
    <ul class="list-group mt-3">
        {% for planta in plantas %}
            <li class="list-group-item">
                {{ planta.nome }}
                <a href="{% url 'edit_planta' planta.id %}" class="btn btn-warning btn-sm float-end ms-2">Editar</a>
                <a href="{% url 'delete_planta' planta.id %}" class="btn btn-danger btn-sm float-end">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</div>
